@model AstralNotes.DAL.Models.Note
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@Html.ActionLink(@Model.Theme, "Show", "Note", new { id = Model.Id })
@Html.ActionLink("Удалить", "Delete", "Note", new { id = Model.Id })

@if (ViewBag.Full!=null && ViewBag.Full)
{
    @Html.ActionLink("Редактировать", "Edit", "Note", new { id = Model.Id }, null)
    <p>@Model.Text</p>
}
else
{
    @if (Model.Text.Length > 50)
    {<p>@Model.Text.Substring(0, 50)...</p> }
    else
    { <p>@Model.Text</p>}
}
<img src="data:image/svg+xml;base64,@System.Convert.ToBase64String(Model.Image)" width="80" height="80" />