@model List<AstralNotes.DAL.Models.Note>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!doctype html>
<html>
<head>
    <title>Главная</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
</head>
<body>
    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>
    @Html.ActionLink("Создать новую заметку", "Create", "Note")

    <h2>Тут будут все заметки пользователя</h2>
    @foreach (var note in Model)
    {
        @Html.ActionLink(note.Theme, "Show", "Note", new { id = note.Id })
        <h2>@note.Theme</h2>
        @if (note.Text.Length > 50)
        {

            string str = @note.Text.Substring(0, 50);
            <p>@str...</p>
        }
        else
        {
            <p>@note.Text</p>
        }
        <img src="data:image/svg+xml;base64,@System.Convert.ToBase64String(note.Image)" width="80" height="80" />
    }


</body>
</html>